<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../../favicon.ico" />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    <title>Database Explorer | GigaWebSolution</title>
</head>
<body>
    @RenderBody()    
</body>
</html>
