body{
    background:url(../Content/Images/bg.png);
    border-top: 60px solid black;
    background-repeat: repeat;
    overflow-x: hidden;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:24000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}

fieldset {
    border: none;    
}

*{
    margin:0;
    padding:0;
}
a{
    color:#fff;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
span.reference{
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:13px;
    font-weight:bold;
}
span.reference a{
    color:#fff;
    text-shadow:1px 1px 1px #000;
    padding-right:20px;
}
span.reference a:hover{
    color:#ddd;
    text-decoration:none;
}


.description {
    font-size: 27px;
    width: 1055px;
}

.section{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #c0c0c0;
}
.section h2{
    line-height: 0;
    margin: 10px 0 30px 50px;
    width: 500px;
}
.section p{
    margin:20px 0px 0px 50px;
    font-weight: bold;
}

.black{
    background:url(../Content/Images/scrolling/black.gif) repeat-y top right;
}

.section ul{
    left: 30px;
    list-style: none outside none;
    position: relative;
    top: -30px;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:underline;
    color:#fff;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}

.trigger {
    color: gray;
    font-size: 31px;
    margin-left: -34px;
    width: auto;
}

#imgExplorer {
    float: right;
    left: -10px;
    position: relative;
    top: -45px;
}

#imgQueryBuilder {
    float: right;
    left: -10px;
    position: relative;
    top: -45px;
}

#imgWebApi {
    float: right;
    left: -10px;
    position: relative;
    top: -45px;
}

#animateYellowExplorer{background-color: yellow; border: solid yellow 1px; width: 400px; height: 200px; position:absolute;top: 360px; right:-300px;left: 510px;}
#animateRedExplorer{background-color: red; border: solid red 1px; width: 400px; height: 200px; position:absolute; bottom: -300px;left: 50px;}
#animateGrayExplorer{background-color: grey; border: solid grey 1px; width: 400px; height: 200px; position:absolute; left:-100px;top: 350px;}
#animateBlueExplorer{background-color: white; border: 6px solid #E8E8E8; width: 300px; height: 130px; position:absolute;top: 375px; bottom: -300px;left: 50px;}

#animateRedQueryBuilder{background-color: red; border: solid red 1px; width: 400px; height: 200px; position:absolute; left:-100px;top: 345px;}
#animateGrayQueryBuilder{background-color: grey; border: solid grey 1px; width: 400px; height: 200px; position:absolute; bottom:-300px;left: 510px;}
#animateYellowQueryBuilder{background-color: yellow; border: solid yellow 1px; width: 400px; height: 200px; position:absolute;top: 360px; right: -300px;left: 50px;}
#animateBlueQueryBuilder{background-color: white; border: 6px solid  #c0c0c0; width: 300px; height: 130px; position:absolute;top: 360px; bottom:-300px;left: 575px;}

#animateRedWebApi{background-color: red; border: solid red 1px; width: 400px; height: 200px; position:absolute; left:-100px;top: 345px;}
#animateGrayWebApi{background-color: grey; border: solid grey 1px; width: 400px; height: 200px; position:absolute; bottom:-300px;left: 996px;}
#animateYellowWebApi{background-color: yellow; border: solid yellow 1px; width: 400px; height: 200px; position:absolute;top: 360px; right: -300px;left: 50px;}
#animateBlueWebApi{background-color: white; border: 6px solid  #c0c0c0; width: 300px; height: 130px; position:absolute;top: 360px; bottom:-300px;left: 1000px;}

.blue {
    color: blue;
}      

#DatabaseExplorerPlayer {
    border: 20px solid #F38080;
    border-radius: 10px 10px 10px 10px;
    display: block;
    height: 330px;
    margin-left: 265px;
    margin-top: 30px;
    width: 520px;
}

#signIn, #register {
    border-radius: 11px 11px 11px 11px;
    margin-bottom: 10px;
    padding: 20px;
    width: 700px;
    background-color: #F38080;
    border: 2px solid red;
    width: 600px;
    filter: alpha(opacity=85);
    opacity: .85;
    margin-left: 210px;
    margin-top: 50px;
}

#signIn span {
    width: 145px;
    float: left;
}

#register span {
    width: 260px;
    float: left;
}

#signIn input[type="text"], #register input[type="text"] {
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    height: 30px;
    padding-left: 10px;
    width: 260px;
}

.field-validation-error span{
    color: red;
    width: 425px !important;
    font-size: 25px;
}

input:focus{
    border: solid 2px greenyellow;
    background-color: #C3FDB8;
} 

.floatR {
    float: right;
}

input[type="submit"] {
    background-color: #F38080;
    border: 1px solid white;
    border-radius: 6px 6px 6px 6px;
    float: right;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 7px 5px 5px;
    text-align: center;
    font-size: 20px;
}
input[type="submit"]:hover {
    background-color: #E1E1E1;
    border: 1px solid white;
    color: red;
    cursor: pointer;
}