<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="websiteConfiguration" type="DatabaseSchemaReader.Website.Configurations.WebsiteConfigurations, DatabaseSchemaReader.Website" />
  </configSections>

  <websiteConfiguration isTestingEnviroment="true"
                        connectionstringName="RavenDB"
                        />
  
</configuration>