<div class="section black" id="section2">
     @Html.Partial("Menu", "Explorer")
    <h2>Explorer</h2>
    <p class="description">
        Viewing your database schema has never bee easier, all you need to do is drag the
        tables name into the drawing area.
        <br/>
        Watch the video........you'll be amazed how
        easy it is!!
    </p>
     <a  href="http://www.gigawebsolution.com/Content/Videos/DatabaseExplorer.flv" id="DatabaseExplorerPlayer"></a>

        <script src="../../Scripts/libs/flowplayer-3.2.6.min.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript">
            flowplayer("DatabaseExplorerPlayer", "http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf", {
                clip: {
                    autoPlay: false,
                    autoBuffering: true
                }
            });
        </script>
</div>
