@section css{
    <link href="../../Content/Website.css" rel="stylesheet" type="text/css" />
}

<div class="section black" id="section1">

    @Html.Partial("Menu", "Home")
    
    <h2>Home</h2>
    <p class="description">
        Databse Explorer is all you need to access your databases.
        It allows you to view the database schema and execute queries.
        There is no expensive setup or software to download all you need is an internet connection and a Web Browser, 
        <a href="#section4" id="signInTrigger" class="blue">sign in</a> 
        to get started!!
     </p>
    
    <div id="animateYellowExplorer"></div>
    <div id="animateRedExplorer"></div>
    <div id="animateGrayExplorer"></div>
    <div id="animateBlueExplorer">
        <p>
            <a href="#section2" class="trigger">Explorer</a>
        </p>
        <img src="../../Content/Images/explorer.png" alt="Explorer - Database Explorer" id="imgExplorer" />
    </div>
    
    <div id="animateRedQueryBuilder"></div>
    <div id="animateGrayQueryBuilder"></div>
    <div id="animateYellowQueryBuilder"></div>
    <div id="animateBlueQueryBuilder">
        <p>
            <a href="#section3" class="trigger"  >Web Api</a>
        </p>
        <img src="../../Content/Images/webApi.png" alt="Web Api- Database Explorer" id="imgWebApi" />
    </div>

</div>

