@model List<string>
@if (Model != null && Model.Count > 0)
{
    <a id="tableListPanelTrigger" class="trigger" href="#">Tables</a>
    <div id="tableListPanel" class="panel">
        <div id="tableListContainer">
            @foreach (var table in Model)
            {
                <div id="@string.Format("tableNameContainer_{0}", table.Replace(" ", "_"))" class="tableNameContainer">
                    @table
                    <br />
                </div>
            }
        </div>
        <div style="clear: both;">
        </div>
    </div>
}
