<div class="section black" id="section3">
    <ul class="nav">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">Explorer</a></li>
        <li>Web Api</li>
        <li><a href="#section4">Sign In</a></li>
        <li><a href="#section5">Register</a></li>
    </ul>
    <h2>Web Api</h2>
    <p class="description">
        This is a RESTFULL API that allows you to retrieve info about your Databases schema, it's lightweight and extremely intuitive to use.
        You can view the help page at 
    </p>
</div>