<div class="section black" id="section3">
    @Html.Partial("Menu", "Web Api")
    <h2>Web Api</h2>
    <p class="description">
        This is a RESTFULL API that allows you to retrieve info about your Databases schema, it's lightweight and extremely intuitive to use.
        You can view the help page at 
    </p>
</div>